p{
  font-size: 20px;
  text-align: center;
}

#missao{
  font-size: 25px;
}

#missao-destaque{
  color: #2f6690;
}

h1{
  text-align: center;
}
h2{
  text-align: center;
}
body{
  background-color: #d9dcd6;
}
.introducao{
  background-color: #bdd5ea;
}


li{
  text-align: left ;
}
.beneficios-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

ul {
  width: 30%;
  margin: 0;
}

.imgar {
  width: 60%;
  height: auto;
  padding: 0;
}