p{
  font-size: 20px;
  text-align: center;
}

#missao{
  font-size: 25px;
}

#missao-destaque{
  color: #1C579E;
}

h1{
  text-align: center;
}
h2{
  text-align: center;
}
body{
  background-color: #EDEDE9;
}
.introducao{
  background-color: #BDE0FE;
}


li{
  text-align: left ;
}
.beneficios {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

ul {
  width: 25%;
  margin: 0;
}

.imgar {
  width: 40%;
  height: auto;
  padding: 0;
}
#titulo{
  color: #3D348B

  
}