p{
  font-size: 20px;
  text-align: center;
}

#missao{
  font-size: 25px;
}

#missao-destaque{
  color: #3A0CA3;
}

h1{
  text-align: center;
}
h2{
  text-align: center;
}
body{
  background-color: #D8E1E9;
}
.introducao{
  background-color: #86BBD8;
  border-radius: 10px;
  margin: 20px;
}


li{
  text-align: left ;
}
.beneficios {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: #6b9cd1;;
  border-radius: 10px;
  margin: 20px;
}

ul {
  width: 45%;
  margin: 0;
}

.imgar {
  width: 40%;
  height: auto;
  padding: 0;
  border: 3px solid #1C579E;
  margin-left: auto;
}
#titulo{
  color: #3D348B
  
}
#benef{
  color: #3D348B
}
#sobre{
  color: #4e148c
}